@import "../utils/base.css";

.root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #e9e3e6;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 900px;
    justify-content: flex-start;
    margin-top: 20vh;
}

.textRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: flex-start;
}
